/* CSS VARIABLES */
:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
}

/* CSS RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* GENERAL CSS */
body {
  font-family: "Lexend Deca", sans-serif;
  height: 100vh;
  display: flex;
}

.main-container {
  width: 50%;
  height: 60%;
  margin: auto;
  display: flex;
}

.section {
  position: relative;
}

.left {
  background-color: var(--bright-orange);
  border-radius: 10px 0 0 10px;
  padding: 30px;
}

.mid {
  background-color: var(--dark-cyan);
  padding: 30px;
}

.right {
  background-color: var(--very-dark-cyan);
  border-radius: 0 10px 10px 0;
  padding: 30px;
}

.car {
  margin-bottom: 20px;
}

.section-header {
  font-family: "Big Shoulders Display", cursive;
  color: var(--very-light-gray);
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.desc {
  color: var(--transparent-white);
  font-size: 0.8rem;
  line-height: 1.8;
}

.btn {
  position: absolute;
  bottom: 30px;
  padding: 10px 30px;
  border: none;
  border-radius: 30px;
}

.btn-left {
  color: var(--bright-orange);
}

.btn-mid {
  color: var(--dark-cyan);
}

.btn-right {
  color: var(--very-dark-cyan);
}

/* END OF GENERAL CSS */

/* RESPONSIVENESS */

@media (max-width: 1300px) {
  .main-container {
    width: 90%;
  }
}

@media (max-width: 700px) {
  .main-container {
    width: 50%;
    flex-direction: column;
    height: 1000px;
  }

  .left {
    border-radius: 10px 10px 0 0;
    height: 350px;
  }

  .mid {
    height: 350px;
  }

  .right {
    border-radius: 0 0 10px 10px;
    height: 350px;
  }
}
